<div class="container">

       <!-- Main component for a primary marketing message or call to action -->
       <div class="jumbotron jumbotron-fluid">
         <div class="container">
         <%= image_tag 'reg_top.png', class: 'centerimg img-responsive' %>
<%= link_to "https://www.macys.com/wgl/registry/guest/6738319" do %>
         <%= image_tag ('macy_reg.png'), class: 'centerimg img-responsive' %>
<% end %>
<%= link_to "https://www.crateandbarrel.com/gift-registry/nicole-netto-and-derek-ventre/r5658455" do %>
         <%= image_tag ('crate_reg.png'), class: 'centerimg img-responsive' %>
<% end %>
</p>
       </div>
</div>
     </div> <!-- /container -->
